.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
}
.left{
    display: inline-block;
    height: 100%;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
}
.leftWrapperFlex{
    display: flex;
    height: 100%;
    padding: 10px 0;
}
.logo{
    height: 100%;
}
.title{
    display: inline-block;
    font-size: 35px;
    line-height: 100%;
    margin: 8px;
}
.menu{
    width: 100%;
    margin-left: 50px;
    flex-grow: 1;
    flex-shrink: 1;
}
.right{
    flex-grow: 0;
    flex-shrink: 0;
}