# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug
*.o
*.pyc
*.swp
*.swo
.DS_Store
kvrocks
version.h
Makefile.dep
make_config.mk
.vscode
kvrocks2redis