[submodule "external/glog"]
	path = external/glog
	url = https://github.com/google/glog.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "external/snappy"]
	path = external/snappy
	url = https://github.com/google/snappy.git
[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "external/jemalloc"]
	path = external/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
